extends layout
block content
  h1 Dining Menu

  - var daysofweek = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];

  p Jump to:
  ul
  each day in meals
    li
      if day.dayname == daysofweek[new Date().getDay()]
        a(href="#day-" + day.dayname.toLowerCase())
          b= day.dayname
           |  (Today)
      else
        a(href="#day-" + day.dayname.toLowerCase())= day.dayname

  each day in meals
    .row
      .span12
        hr
        h2(id="day-" + day.dayname.toLowerCase())= day.dayname

    .row
    each mealname, meal in {'breakfast': 'Breakfast', 'lunch': 'Lunch', 'dinner': 'Dinner'}
      div.span2(style="width: 33%; margin: 0; box-sizing: border-box; padding: 0 20px")
        h3= mealname
        dl
          each foods, section in day[meal]
            dt 
              b= section
            dd
              ul
                each item in foods
                  li= item.name

  script.
    $(function () {
      $('h3').each(function (a) { $('<a>').css('padding-left', '10px').css('font-size', '12px').text('(Read aloud)').attr('href', 'http://tts-api.com/tts.mp3?q=' + encodeURIComponent($(this).parent().find('dt, li').map(function (a) { return this.tagName == 'DT' ? 'Today\'s ' + $(this).text() + ': ' : $(this).text() + '. '; }).toArray().join(' '))).appendTo(this); })
    })