extends layout
block content
  style
    | .row-fluid a.btn { display: block; font-size: 1.1em; }
    | .row-fluid p.span9 { padding-top: 5px; }

  link(href="/static/ionicons/ionicons.css", rel="stylesheet")

  #page-projects
    h2 Apps

    .row-fluid
      p.span3
        a.btn(href='/calendar')
          i.icon-calendar
          |  
          b Calendar
      p.span9  School-wide student events calendar, maintained by <a href="http://sac.olin.edu/">SAC</a>.
    .row-fluid
      p.span3
        a.btn(href='/directory')
          i.icon-ios7-people
          |  
          | Student 
          b Directory
      p.span9  Olin community names and contact information. (Login required.)
    .row-fluid
      p.span3
        a.btn(href='/dining')
          i.icon-fork
          |  
          b Dining
          |  Menu
      p.span9  What's to eat this week at Olin Dining Hall?
    .row-fluid
      p.span3
        a.btn(href='/directory/guess')
          i.icon-help-circled
          |  
          b Guess the Oliner
      p.span9  How well do you know the names of other Oliners? Find out in this classy game! (Login required.)
    .row-fluid
      p.span3
        a.btn(href='/launchpad')
          i.icon-ios7-world
          |  
          b Launchpad
      p.span9 A dashboard for all of Olin's common web destinations.
    .row-fluid
      p.span3
        a.btn(href='/printers')
          i.icon-printer
          |  
          b Printers
      p.span9  Olin printers and information on how to access them.

    hr

    h3 External Apps
    .row-fluid
      p.span3
        a.btn(href='http://olinquotes.herokuapp.com')
          b Quotes Board
      p.span9  Relive the memories with hilarious quotes from your peers.
    .row-fluid
      p.span3
        a.btn(href='http://declare-it.herokuapp.com')
          b Declare It!
      p.span9  Design your major and plan what classes make it a reality over four years.
    // .row-fluid
      p.span3
        a.btn(href='http://livephoenix.olinapps.com')
          b #livephoenix
      p.span9  Watch Olin tweets in realtime.

    hr

    h3 Code
    .row-fluid
      p.span3
        a.btn(href='https://github.com/olin')
          b Olinapps GitHub
      p.span9
        | Code for Olin Community websites, code, and much more.
    .row-fluid
      p.span3
        a.btn(href='/api')
          b Olin APIs
      p.span9
        | Provide authentication for Oliners to your application, access Directory programmatically, and more.
