extends layout
block content
  style
    .row-fluid a.btn { display: block; }
    .row-fluid p.span9 { padding-top: 5px; }

  #page-projects
    h2 Apps

    .row-fluid
      p.span3
        a.btn(href='/launchpad')
          b Launchpad
      p.span9 Links to all of Olin's common web destinations.
    .row-fluid
      p.span3
        a.btn(href='/printers')
          b Printers
      p.span9  Lists the Olin printers and information on how to access them.
    .row-fluid
      p.span3
        a.btn(href='/dining')
          b Dining Menu
      p.span9  Lists the Dining Menu for this week at Olin.

    hr

    h3 External Sites
    .row-fluid
      p.span3
        a.btn(href='http://calendar.olinapps.com/')
          b Calendar
      p.span9  Schoolwide events calendar.
    .row-fluid
      p.span3
        a.btn(href='http://directory.olinapps.com/')
          b Directory
      p.span9  Olin community person lookup.
    .row-fluid
      p.span3
        a.btn(href='http://guess.olinapps.com')
          b Guess the Oliner
      p.span9  How well do you know the names of other Oliners? Find out in this classy game!
    // .row-fluid
      p.span3
        a.btn(href='http://livephoenix.olinapps.com')
          b #livephoenix
      p.span9  Watch Olin tweets in realtime.
    .row-fluid
      p.span3
        a.btn(href='http://quotes.olinapps.com')
          b Quotes Board
      p.span9  Relive the memories with hilarious quotes from your peers.
    .row-fluid
      p.span3
        a.btn(href='http://declare-it.olinapps.com/')
          b Declare It!
      p.span9  Design your major and plan what classes make it a reality over four years.

    hr

    h3 Code
    .row-fluid
      p.span3
        a.btn(href='http://github.com/olin')
          b Github
      p.span9
        | Code for Olin Community websites, code, and much more.
    .row-fluid
      p.span3
        a.btn(href='/api')
          b Olin APIs
      p.span9
        | Provide authentication for Oliners to your application, access Directory programmatically, and more.