doctype 5
html
  head
    title= title
    link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css")
    script(src='http://code.jquery.com/jquery.min.js')
    script(src="http://code.jquery.com/jquery-1.9.1.js")
    script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
    script(src='/javascripts/script.js')
    style
      #quotes, #quotes li { display: block; padding: 0; margin: 0; }
      #quotes li { margin: 15px 0 30px }
      #quotes li blockquote { margin-bottom: 5px; }
      #quotes li small { color: #bbb; font-size: 10px }
      #quotes li small:hover { color: black; }
  body
    .container-fluid
      block content