{% extends "layout.html" %}
{% block body %}

  {% if not user %}
  <h2>Login to {% if not domain %}Olin Apps{% else %}<a href="{{ external }}">{{ domain }}</a>{% endif %}</h2>
  <p class="muted">Log in with your Olin network credentials. Your username is your first initial, followed by your last name, e.g. <em>pmiller</em>. Don't include "MILKYWAY\" in your user name.</p>

  {% if message %}
  <div class="alert alert-error">{{ message|safe }}</div>
  {% endif %}

  <form action="https://olinapps.herokuapp.com/login{% if external %}?external={{ external }}{% endif %}" method="post"
  class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputUsername">Username: <small>MILKYWAY\</small></label>
      <div class="controls">
        <input name="username" type="text" id="inputUsername" placeholder="pmiller" class="input-xlarge" value="{{ username }}">
        <script>document.getElementById('inputUsername').focus()</script>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password:</label>
      <div class="controls">
        <input name="password" type="password" id="inputPassword" class="input-xlarge"><br>
        <small style="display: block; margin-top: 5px"><a href="https://pm.olin.edu/pm/user_name.asp?act=reset">Forgot your password?</a></small>
      </div>
    </div>
    <div class="form-actions">
      <button class="btn btn-success">Login to Olin Apps</button>
    </div>
    
  </form>

  {% else %}
  <h2>Account</h2>

  <p>You are logged in as <code>{{ user._id }}</code>.</p>
  <form method="post" action="/logout">
    <button class="btn btn-danger">Logout</button>
  </form>

  {% endif %}
{% endblock %}