{% extends "layout.html" %}
{% block body %}

<style>
#page-projects p { padding: 5px 0 10px 190px; }
#page-projects a { width: 150px; margin-left: -190px; float: left; margin-top: -5px; }
#page-projects p, #page-projects h2 { clear: left; }
h2 { font-size: 20px; line-height: 1.2}
</style>

<div id="page-projects">
  <h2>Utilities</h2>

  <!--<p><a href="http://fwol.in/" class="btn"><b>fwol.in</b></a> The Olin Community Portal.</p>-->
  <p><a href="http://launchpad.olinapps.com/" class="btn"><b>Launchpad</b></a> Links to all of Olin's common web destinations.</p>
  <p><a href="http://directory.olinapps.com/" class="btn"><b>Directory</b></a> Olin community person lookup.</p>
  <!--<p><a href="http://seamlist.olinapps.com/" class="btn"><b>Seamlist</b></a> Search and manage Olin email lists.</p>-->
  <p><a href="http://calendar.olinapps.com/" class="btn"><b>Calendar</b></a> Schoolwide events calendar.</p>
  <p><a href="http://printers.olinapps.com" class="btn"><b>Printers</b></a> Lists the Olin printers and information on how to access them.</p>
  <p><a href="http://webcams.olinapps.com/" class="btn"><b>Webcams</b></a> Student-run webcams for analysis and cool factor.</p>

  <hr>

  <h2>Services</h2>
  <!--<p><a href="http://map.olinapps.com" class="btn"><b>Marauder's Map</b></a> Where are students on campus?</p>-->
  <p><a href="http://oboe.olinapps.com" class="btn"><b>OBOE</b></a> Olin Bartering and Organized Exchange. Exchange items and goods on campus with other students.</p>
  <p><a href="http://flyolinfly.olinapps.com" class="btn"><b>Fly Olin Fly</b></a> Going home? Share your flight and schedule rides to the airport.</p>

  <hr>

  <h2>Entertainment</h2>

  <p><a href="http://guess.olinapps.com" class="btn"><b>Guess the Oliner</b></a> How well do you know the names of other Oliners? Find out in this classy game!</p>
  <p><a href="http://dominion.olinapps.com" class="btn"><b>Dominion</b></a> A randomizer for the game Dominion.</p>
  <p><a href="http://livephoenix.olinapps.com" class="btn"><b>#livephoenix</b></a> Watch Olin tweets in realtime.</p>

  <hr>

  <h2>APIs</h2>

  <p><a href="/api" class="btn"><b>Authentication API</b></a> Provide authentication for Oliners to your application, and access other Apps APIs.</p>
  <p><a href="http://directory.olinapps.com/api" class="btn"><b>Directory API</b></a> When logged in, see information about user profiles.</p>

</div>
{% endblock %}