{% extends "layout.html" %}
{% block body %}

<style>
.row-fluid a.btn { display: block; }
.row-fluid p.span9 { padding-top: 5px; }
</style>

<div id="page-projects">
  <h2>Community Apps</h2>

  <!--</div>
  <div class="row-fluid">
    <p class="span3"><a href="http://fwol.in/" class="btn"><b>fwol.in</b></a></p>
    <p class="span9"> The Olin Community Portal.</p>-->
  <div class="row-fluid">
    <p class="span3"><a href="http://calendar.olinapps.com/" class="btn"><b>Calendar</b></a></p>
    <p class="span9"> Schoolwide events calendar.</p>
  </div>
  <div class="row-fluid">
    <p class="span3"><a href="http://directory.olinapps.com/" class="btn"><b>Directory</b></a></p>
    <p class="span9"> Olin community person lookup.</p>
  </div>
  <div class="row-fluid">
    <p class="span3"><a href="http://launchpad.olinapps.com/" class="btn"><b>Launchpad</b></a></p>
    <p class="span9">Links to all of Olin's common web destinations.</p>
  </div>
  <div class="row-fluid">
    <p class="span3"><a href="http://printers.olinapps.com" class="btn"><b>Printers</b></a></p>
    <p class="span9"> Lists the Olin printers and information on how to access them.</p>
  </div>

  <!--</div>
  <div class="row-fluid">
    <p class="span3"><a href="http://webcams.olinapps.com/" class="btn"><b>Webcams</b></a></p>
    <p class="span9"> Student-run webcams for analysis and cool factor.</p>-->

  <hr>

  <h2>Student Apps</h2>

  <div class="row-fluid">
    <p class="span3"><a href="http://dominion.olinapps.com" class="btn"><b>Dominion</b></a></p>
    <p class="span9"> A randomizer for the game Dominion.</p>
  </div>
  <!--</div>
  <div class="row-fluid">
    <p class="span3"><a href="http://seamlist.olinapps.com/" class="btn"><b>Seamlist</b></a></p>
    <p class="span9"> Search and manage Olin email lists.</p>-->
  <!--</div>
  <div class="row-fluid">
    <p class="span3"><a href="http://map.olinapps.com" class="btn"><b>Marauder's Map</b></a></p>
    <p class="span9"> Where are students on campus?</p>-->
  <div class="row-fluid">
    <p class="span3"><a href="http://flyolinfly.olinapps.com" class="btn"><b>Fly Olin Fly</b></a></p>
    <p class="span9"> Going home? Share your flight and schedule rides to the airport.</p>
  </div>
  <div class="row-fluid">
    <p class="span3"><a href="http://guess.olinapps.com" class="btn"><b>Guess the Oliner</b></a></p>
    <p class="span9"> How well do you know the names of other Oliners? Find out in this classy game!</p>
  </div>
  <div class="row-fluid">
    <p class="span3"><a href="http://livephoenix.olinapps.com" class="btn"><b>#livephoenix</b></a></p>
    <p class="span9"> Watch Olin tweets in realtime.</p>
  </div>
  <div class="row-fluid">
    <p class="span3"><a href="http://oboe.olinapps.com" class="btn"><b>OBOE</b></a></p>
    <p class="span9"> Olin Bartering and Organized Exchange. Exchange items and goods on campus with other students.</p>
  </div>
  <div class="row-fluid">
    <p class="span3"><a href="http://quotes.olinapps.com" class="btn"><b>Quotes Board</b></a></p>
    <p class="span9"> Relive the memories with hilarious quotes from your peers.</p>
  </div>

  <hr>

  <h3>Infrastructure</h3>

  <div class="row-fluid">
    <p class="span3"><a href="/api" class="btn"><b>APIs</b></a></p>
    <p class="span9"> Provide authentication for Oliners to your application, access Directory programmatically, and more.</p>
  </div>

</div>
{% endblock %}