{% extends "layout.html" %}
{% block body %}

  {% if not user %}
  <h2>Login to Olin Apps</h2>
  <p class="muted">Log in with your Olin email address ending in <i>@students.olin.edu</i>, <i>@alumni.olin.edu</i>, or <i>@olin.edu</i>. Make sure to use your full email, not an alias.</p>

  {% if message %}
  <div class="alert alert-error">{{ message }}</div>
  {% endif %}

  <form action="login{% if external %}?external={{ external }}{% endif %}" method="post"
  class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email:</label>
      <div class="controls">
        <input name="email" type="text" id="inputEmail" placeholder="full.name@students.olin.edu" class="input-xlarge" value="{{ email }}">
        <script>document.getElementById('inputEmail').focus()</script>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password:</label>
      <div class="controls">
        <input name="password" type="password" id="inputPassword" class="input-xlarge"> 
      </div>
    </div>
    <div class="form-actions">
      <button class="btn btn-success">Log In</button> <small><a style="margin-left: 15px" href="/reset">Forgot your Olin Apps password?</a></small>
    </div>
    
  </form>

  {% else %}
  <h2>Account</h2>

  <p>You are logged in as <code>{{ user._id }}</code>.</p>
  <form method="post" action="/logout">
    <button class="btn btn-danger">Logout</button>
  </form>

  <hr>

  <h3>Authentication API</h3>

  <p>To authenticate users on Olin Apps requires a unique session key.</p>

  <ol>
    <li><p><b>Web apps:</b> Redirect the user to <a href="http://auth.olinapps.com/external?callback=http://example.com/">http://auth.olinapps.com/external?callback=http://example.com/</a>. If the user approves the app, they are redirected to the callback URL with an additional <code>?sessionid=<em>&lt;unique-uuid-key&gt;</em></code> appended to it. If the user rejects the app, this parameter is empty.</p></li>

    <!--
    <li><p><b>Native/mobile apps:</b> POST <a href="https://ohack-auth.herokuapp.com/exchangelogin">https://ohack-auth.herokuapp.com/exchangelogin</a> with the user's network <code>username</code> and <code>password</code>. This call returns <code>401</code> if invalid, or <code>200</code> with a JSON body <code>{"sessionid": "<em>&lt;unique-uuid-key&gt;</em>"}</code>.</p></li>
  -->
    
  </ol>

  {% endif %}
{% endblock %}